# Misc
*.DS_STORE
*~
*.pyc
build/
test_package/build/

# IDE Files
.*.swp
*.swo
.lvimrc
.idea
.vscode

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.pyd

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Doxygen
Doxygen/*.tag
Doxygen/html/*.css
Doxygen/html/*.html
Doxygen/html/*.js
Doxygen/html/*.png
Doxygen/html/search
Doxygen/html/pydocs/*
doxy_warn.log

# Sphinx
pydocs/build
sphinx_warnings.log

# Build Folders
build/*
pybuild/*
build_py/*